
extends ./lib/layout.jade
include ./lib/mixin.jade

block init
  -var title="NINJAM Web Chat"

block header
  script(src="./js/app.js")
  link(rel="stylesheet", href="./css/app.css")

block contents
  .container
    .page-header
      h1 #{title}
      audio(controls, src="http://crasher.orz.hm:9000/;")
    div.well#sticky
      h2#topic Title test
      pre#chords
        | C | D | E | F
        | G | A | B | C
    form.form-horizontal#chat-area(role="form")
      .input-group
        label.input-group-addon#user-name
          i.fa.fa-user &nbsp;
        input#text-box.form-control(type="text", placeholder="message")
        span.input-group-addon#send-button(role="button") Send
    ul.list-unstyled#chat-history

    ul.list-group
      li.list-group-item
        | 埋め込みプレイヤーの再生ボタンをクリックするか、
        | または適当なプレイヤーで #[b http://crasher.orz.hm:9000]
        |  を開くか、もしくは適当なプレイヤーで
        a(href="http://crasher.orz.hm:9000/listen.pls?sid=1"): b このファイル #[i.fa.fa-file-audio-o]
        |  を開くかするとサーバー内の演奏を生放送で聞けます。
      li.list-group-item
        | 名前(Guest◯◯)の欄は、ダブルクリックで編集することができます。
      li.list-group-item
        | もし同じ音声が繰り返し再生されるような症状が起きたら、別のブラウザから再生すると回避できる場合があります。

  script(src="./js/client.js")
